  <!--    <div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">-->
  <!--      <h3>Gem #{{$index + 1}}: {{product.name | uppercase}}<em class="pull-right">{{product.price | currency}}</em>-->
  <!--          <img ng-src="{{product.images[gallery.imageIndex]}}" class="img-thumbnail center-block" />-->
  <!--          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images" ng-click="gallery.currentImageChange($index)">-->
  <!--      <product-tabs></product-tabs>-->
