<form name="select" ng-controller="Panels as panel" novalidate>
    <ul class="nav nav-pills">
        <li ng-click="{ active:panel.select(1) }">Jurisdiction</li>
        <li ng-click="{ active:panel.select(2) }">Election</li>
        <li ng-click="{ active:panel.select(3) }">Issue</li>
    </ul>
        <div class="row">
            <div class="large-6 medium-6 columns">
                <label>Choose Your Favorite</label>
                <input type="radio" name="pokemon" value="Red" id="pokemonRed">
                <label for="pokemonRed">Radio 1</label>
                <input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
                <label for="pokemonBlue">Radio 2</label>
            </div>
            <div class="large-6 medium-6 columns">
                <label>Check these out</label>
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1">Checkbox 1</label>
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2">Checkbox 2</label>
            </div>
        </div>

    <div>
        <h1>{{ panel.current.title }}</h1>
        <input ng-model="panel.proposed.title" placeholder="Your Title">
        <textarea ng-model="panel.proposed.description" placeholder="A good description"></textarea>
        <h2>{{ panel.current.listname }}</h2>
        <ul>
            <li ng-repeat="item in panel.current.list">
                <span>{{ item }}</span> <!-- filter? | -->
                <button type="checkbox" id="{ item }">
            </li>
        </ul>
        <div ng-show="panel.proposed.canSubmit" ng-submit="select.$valid && panel.submit()">Create</div>
    <div class="large-4 medium-4 columns">
        <h5>Try one of these buttons:</h5>
        <p><a href="#" class="small button">Simple Button</a>
            <br/>
            <a href="#" class="small radius button">Radius Button</a>
            <br/>
            <a href="#" class="small round button">Round Button</a>
            <br/>
            <a href="#" class="medium success button">Success Btn</a>
            <br/>
            <a href="#" class="medium alert button">Alert Btn</a>
            <br/>
            <a href="#" class="medium secondary button">Secondary Btn</a></p>
        <div class="panel">
            <h5>So many components, girl!</h5>
            <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
            <a href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>
        </div>
    </div>
    </div>
</form>
<div id="compose" ng-hide><!-- pull from partials/create--></div>{{tab}}
<!--https://github.com/vpegado/angular-markdown-filter-->
