<div ng-controller="search" class="input-group col-md-8 col-sm-8">
	<input class="form-control" name="terms" ng-model="sterm" id="search" placeholder="Search for Documents, Arguments, Logic, and Peers">
	<div class="input-group-btn">
		<button class="btn btn-info" ng-click="searchBar.ask(sterm)">
			<span class="glyphicon glyphicon-search"></span> {{sterm}}
		</button>
	</div>
</div>
Number Inputs In most desktop browsers,
<input type="number"> elements will have up/down controls inside them, which increment and decrement the number inside the field. These are called spin buttons. You can disable them by setting the $input-number-spinners Sass variable to false.
<label>
    How many puppies?
    <input type="number" value="100">
</label>

<label>
    What books did you read over summer break?
    <textarea placeholder="None"></textarea>
</label>

<label>Select Menu
    <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
    </select>
</label>

<label>Multiple Select Menu
    <select multiple>
        <option value="showboat">Showboat</option>
        <option value="redwing">Redwing</option>
        <option value="narcho">Narcho</option>
        <option value="hardball">Hardball</option>
    </select>
</label>

<!-- output (should be part of ng-controller=search-->
<!--publish a position fork linked to this-->
<!--edit what you voted on this-->
<!--fork this further-->
<ul ng-repeat="post in posts">
	<li>{{post.title}}</li>
</ul>
<script>
	module.exports = function($scope, $http) {
			$http.get('data/posts.json').
			success(function(data, status, headers, config) {
				$scope.posts = data;
			}).
			error(function(data, status, headers, config) {
				// log error
			});
	};
</script>