/*

Sass Reference
Variables

The default styles of this component can be customized using these Sass variables in your project's settings file.
Name	Type	Default Value	Description
$fieldset-border 	Border 	1px solid $medium-gray 	

Default border around custom fieldsets.
$fieldset-padding 	Number 	rem-calc(20) 	

Default padding inside custom fieldsets.
$fieldset-margin 	Number 	rem-calc(18 0) 	

Default margin around custom fieldsets.
$legend-padding 	Number 	rem-calc(0 3) 	

Default padding between the legend text and fieldset border.
$form-spacing 	Number 	rem-calc(16) 	

Global spacing for form elements.
$helptext-color 	Color 	$black 	

Default color for help text.
$helptext-font-size 	Number 	rem-calc(13) 	

Default font size for help text.
$helptext-font-style 	Keyword 	italic 	

Default font style for help text.
$input-prefix-color 	Color 	$black 	

Color of labels prefixed to an input.
$input-prefix-background 	Color 	$light-gray 	

Background color of labels prefixed to an input.
$input-prefix-border 	Border 	1px solid $medium-gray 	

Border around labels prefixed to an input.
$input-prefix-padding 		1rem 	

Left/right padding of an pre/postfixed input label
$form-label-color 	Color 	$black 	

Color for form labels.
$form-label-font-size 	Number 	rem-calc(14) 	

Font size for form labels.
$form-label-font-weight 	Keyword 	$global-weight-normal 	

Font weight for form labels.
$form-label-line-height 	Number 	1.8 	

Line height for form labels. The higher the number, the more space between the label and its input field.
$select-background 	Color 	$white 	

Background color for select menus.
$select-triangle-color 	Color 	$dark-gray 	

Color of the dropdown triangle inside select menus. Set to transparent to remove it entirely.
$select-radius 	Color 	$global-radius 	

Default radius for select menus.
$input-color 	Color 	$black 	

Font color of text inputs.
$input-placeholder-color 	Color 	$medium-gray 	

Font color of placeholder text within text inputs.
$input-font-family 	Font 	inherit 	

Font family of text inputs.
$input-font-size 	Number 	rem-calc(16) 	

Font size of text inputs.
$input-background 	Color 	$white 	

Background color of text inputs.
$input-background-focus 	Color 	$white 	

Background color of focused of text inputs.
$input-background-disabled 	Color 	$light-gray 	

Background color of disabled text inputs.
$input-border 	Border 	1px solid $medium-gray 	

Border around text inputs.
$input-border-focus 	Color 	1px solid $dark-gray 	

Border around focused text inputs.
$input-shadow 	Shadow 	inset 0 1px 2px rgba($black, 0.1) 	

Box shadow inside text inputs when not focused.
$input-shadow-focus 	Shadow 	0 0 5px $medium-gray 	

Box shadow outside text inputs when focused.
$input-cursor-disabled 	Cursor 	not-allowed 	

Cursor to use when hovering over a disabled text input.
$input-transition 	Transition 	box-shadow 0.5s, border-color 0.25s ease-in-out 	

Properties to transition on text inputs.
$input-number-spinners 	Boolean 	true 	

Enables the up/down buttons that Chrome and Firefox add to <input type='number'> elements.
$input-radius 	Border 	$global-radius 	

Radius for text inputs.
$meter-height 	Length 	1rem 	

Height of a <meter> element.
$meter-radius 	Length 	$global-radius 	

Border radius of a <meter> element.
$meter-background 	Color 	$medium-gray 	

Background color of a <meter> element.
$meter-fill-good 	Color 	$success-color 	

Meter fill for an optimal value in a <meter> element.
$meter-fill-medium 	Color 	$warning-color 	

Meter fill for an average value in a <meter> element.
$meter-fill-bad 	Color 	$alert-color 	

Meter fill for a suboptimal value in a <meter> element.
$progress-height 	Number 	1rem 	

Height of a progress bar.
$progress-background 	Color 	$medium-gray 	

Background color of a progress bar.
$progress-margin-bottom 	Number 	$global-margin 	

Bottom margin of a progress bar.
$progress-meter-background 	Color 	$primary-color 	

Default color of a progress bar's meter.
$progress-radius 	Number 	$global-radius 	

Default radius of a progress bar.
$slider-height 	Number 	0.5rem 	

Default height of the slider.
$slider-background 	Color 	$light-gray 	

Default background color of the slider's track.
$slider-fill-background 	Color 	$medium-gray 	

Default color of the active fill color of the slider.
$slider-handle-height 	Number 	1.4rem 	

Default height of the handle of the slider.
$slider-handle-width 	Number 	1.4rem 	

Default width of the handle of the slider.
$slider-handle-background 	Color 	$primary-color 	

Default color of the handle for the slider.
$slider-opacity-disabled 	Number 	0.25 	

Default fade amount of a disabled slider.
$slider-radius 	Number 	$global-radius 	

Default radius for slider.
$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

*/